* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(39, 31, 132);
}

header {
    background-color: rgb(19, 18, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    justify-content: right;
    width: 100px;
}

nav {
    justify-content: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

nav li a:hover {
    background-color: orange;
}

h2 {
    color: white;
    padding: 2rem;
}

#destaque {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 10px ;
}

#produtos {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;
    background-color: orange;
    color: white;
}

img {
    width: 100%;
}

footer p {
    padding: 1.5rem;
    color: white;
    background-color: rgb(19, 18, 68);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}